__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
venv/
dist/
*.ipa
*.apk
*.log
session_storage/
IOS_TESTING_SCRIPTS/
*.sh
TestAppsForSimulator/
ios-bridge-cli/ios_bridge_cli/__pycache__/
ios-bridge-cli/ios_bridge_cli/electron_app/node_modules/*
ios-bridge-cli/ios_bridge_cli/electron_app/dist/*
ios-bridge-cli/ios_bridge_cli/electron_app/build/*
ios-bridge-cli/build

*/*.ipynb
*.ipynb
*.claude
nativebridge-ios-poc.ipynb
engineering-story.md

.env

!start-server.sh
